*{
  box-sizing: border-box;
  font-size: small;
}

header nav {
  font-size: medium;
}

nav {
  background-color: #636363;
  height: 50px;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
}

li {
  margin: 0 10px;
}

a {
  display: block;
  color: #f3feff;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  font-size: smaller;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #b3b3b3;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin: 0;
  position: relative;
  cursor: pointer;
  font-size: small;
}

.dropdown-menu li a {
  padding: 10px;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  transition: all 0.4;
}

.dropdown-item:hover {
  background-color: #333;
}
.card-scroll {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
  padding: 10px;
}

.card {
  flex: 0 0 auto;
  max-width: 300px;
  max-width: 280px;
  margin-right: 10px;
  transition: all 0.3;
}

.card img{
  max-width: 250px;
  max-height: 220px;
}

.card:active {
  opacity: 1;
  color: black;
  background-color: #f4f4f4;
}

.description {
  max-width: 100px;
  max-lines: 3;
}

.top-products {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  margin-top: 30px;
}

footer p {
  margin: 0;
  font-size: 14px;
}

.social-media {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.social-media li {
  margin-left: 10px;
}

.social-media li:first-child {
  margin-left: 0;
}

.social-media a {
  color: white;
}

.social-media i {
  font-size: 20px;
}

.social-media i:hover {
  color: #007bff;
}



.form-control {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 767px) {
  .social-media {
    justify-content: center;
  }

  .social-media li {
    margin-left: 5px;
  }

  .social-media li:first-child {
    margin-left: 0;
  }

  .social-media i {
    font-size: 18px;
  }

  form {
    max-width: 100%;
  }
}


