nav {
  background-color: #636363;
  height: 50px;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
}

li {
  margin: 0 10px;
}

a {
  display: block;
  color: #f3feff;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #97999c;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin: 0;
  position: relative;
  cursor: pointer;
}

.dropdown-menu li a {
  padding: 10px;
}

.form-control {
  margin-top: 20px;
  text-align: center;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}
